name: Codecov

on:
  push:
    branches:
      - develop
      - master
      - release/*
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '37 3 * * 6'

jobs:
  codecov:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Checkout Boost
      uses: actions/checkout@v4
      with:
        repository: boostorg/boost
        ref: boost-1.90.0
        path: .dep/boost
    - name: Setup Boost
      run: |
        cd .dep/boost
        git submodule update --init tools/build
        git submodule update --init tools/boostdep
        git submodule update --init libs/config
        git submodule update --init libs/container
        python tools/boostdep/depinst/depinst.py container
        git submodule update --init libs/dynamic_bitset
        python tools/boostdep/depinst/depinst.py dynamic_bitset
        ./bootstrap.sh
        ./b2 headers
    - name: Versions
      run: |
        g++ --version
        gcov --version
    - name: Check
      env:
        CXX: g++
        CXXFLAGS: --coverage -O0 -std=c++20 -I ../.dep/boost
        LDFLAGS: --coverage
      run: |
        make -j check
    - name: LCOV setup
      run: |
        sudo apt install lcov
    - name: Codecov setup
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
    - name: Coverage
      run: |
        lcov --version
        # TODO: add -j when possible
        lcov -c -d . -o cov.info
        lcov -e cov.info '*/cxon/src/cxon/*.hxx' -o cxon.info
        lcov -l cxon.info
        ./codecov -t ${{ secrets.CODECOV_TOKEN }} -f cxon.info
